<nav class="navbar navbar-custom" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">-->
        <!--Menu <i class="fa fa-bars"></i>-->
      <!--</button>-->
      <a class="navbar-brand page-scroll img-responsive" href="/home" >
        <img src="../../assets/logo4_round.png" id="logo-img">
      </a>
      <a *ngIf="authService.isAuthenticated()[1]" class="headerlink" (click)="authService.signOut()">Logout</a>
    </div>
  </div>
  <!-- /.container -->
</nav>
