<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 pp-actorTemplate">
  <h2 class="ata-title">{{actor.rolename}}</h2>
  <div class="content">

    <h4>Beschrijving</h4>
    <div class="actor-description">
      <div [ngClass]="{'contentFound':!!actor.description, 'contentNotfound':!(!!actor.description)}">
        <at-editable-text [content]="description"></at-editable-text>
      </div>
    </div>
    <h4>Personen</h4>
    <div class="profiles-container">
      <div *ngFor="let person of actor.persons" class="profile-container" (click)="sidebar.openSidebar(person)">
        <div class="profileimg-container">
          <img alt="profilepic" [src]="person.photo_url">
        </div>
        <span class="profile-name">{{person.name}}</span>
      </div>
      <div *ngIf="!actor.persons.length">
        <span>Geen Personen toegevoegd</span>
      </div>
    </div>
    <!--div class="button-container">
      <button class="projectbutton" id="detailbutton" (click)="navigate()">
        Details
      </button>
      <button [disabled]="false" class="projectbutton" id="editbutton">
        Edit
      </button>
    </div-->
  </div>
</div>

