<div id="mySidenav" class="sidenav" [ngClass]="pService.sideNavState">
  <a class="closebtn" (click)="pService.closeSidebar()">&times;</a>
  <div *ngIf="!pService.nwActor" class="profile-sidebar">

    <!-- SIDEBAR USERPIC -->

    <div class="profile-userpic">

      <img *ngIf="!pService.nwActor" [src]="pService.person?.photo_url" class="" alt="">

    </div>
    <!-- END SIDEBAR USERPIC -->
    <!-- SIDEBAR USER TITLE -->
    <div class="profile-usertitle">
      <div class="profile-usertitle-name">

        <at-editable-text (newContent)="updateContent($event)"
                          [content]="pService.person?.name"
                          [editable]="!pService.usertype && isAnalist()"
                          [placeholder]="'name'" [area]="false"
        ></at-editable-text>

      </div>
      <div class="profile-usertitle-job">

        <at-editable-text (newContent)="updateContent($event)"
                          [content]="pService.person?.position"
                          [editable]="!pService.usertype && isAnalist()"
                          [placeholder]="'position'" [area]="false"
        ></at-editable-text>

      </div>
    </div>
    <div class="profile-usermenu">
      <ul class="nav">
        <li *ngIf="pService.person?.surname">
          <span class="sidebar-part">
            <i class="fa fa-user fa-lg"></i>
            <span style="padding: 5px;">{{pService.person?.showname}}</span>
          </span>
        </li>

        <li>
          <span class="sidebar-part">
            <i class="fa fa fa-envelope-o fa-lg"></i>
            <at-editable-text (newContent)="updateContent($event)" [content]="pService.person?.email"
                              [editable]="isAnalist()" [placeholder]="'email'" [area]="false"
            ></at-editable-text>
          </span>
        </li>

        <li *ngIf="!pService.usertype">
          <span class="sidebar-part">
            <i class="fa fa-phone fa-lg"></i>
            <at-editable-text (newContent)="updateContent($event)" [content]="pService.person?.phone" [editable]="isAnalist()"
                              [placeholder]="'phone'"
                              [area]="false"
            ></at-editable-text>
          </span>
        </li>

        <li *ngIf="pService.usertype">
          <span class="sidebar-part">
            <i class="fa fa-sticky-note-o fa-lg"></i>
            <at-editable-text (newContent)="updateContent($event)" [content]="pService.person?.annotation" [editable]="isAnalist()"
                              [placeholder]="'annotation'"
            ></at-editable-text>
          </span>
        </li>

        <li *ngIf="!pService.usertype">
          <span class="sidebar-part">
            <i class="fa fa-sticky-note-o fa-lg"></i>
            <at-editable-text (newContent)="updateContent($event)" [content]="pService.person?.notes" [editable]="isAnalist()"
                              [placeholder]="'notes'"
            ></at-editable-text>
          </span>
        </li>

      </ul>
    </div>
    <div class="sidebarbuttons">
      <input
        [disabled]="isAnalist()"

        class="sidebar-button delete-button"
        type="button"
        [value]="'Delete'"
        (click)="null">
      <!--<input-->
        <!--*ngIf="isAnalist()"-->
        <!--class="sidebar-button edit-button"-->
        <!--type="button"-->
        <!--[value]="pService.editing ? 'Save' : 'Edit'"-->
        <!--(click)="changeEditing()">-->
    </div>
  </div>
  <!-- END MENU -->
  <at-new-actor-form *ngIf="pService.nwActor">
  </at-new-actor-form>

</div>
